streamlit==1.31.0
pandas==2.1.4
openpyxl==3.1.2
Pillow==10.2.0
langchain==0.1.9
langchain-chroma==0.1.0
langchain-huggingface==0.0.1
langchain-google-genai==1.0.1
langchain-core==0.1.27
sentence-transformers==2.3.1
nltk==3.8.1
reportlab==4.0.9
python-bidi==0.4.2
arabic-reshaper==3.0.0
google-generativeai==0.4.0
chromadb==0.4.22
huggingface-hub==0.20.3
transformers==4.37.2
torch==2.2.0